/* css starts here */
/* .App {
  text-align: center;
} */
.appbar-btn:hover{
  border-bottom: 5px solid orangered;
}
.button-p{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: center;
column-gap: 10px;
padding: 10px;
}
.about-page{
  padding: 50px;
  line-height: 30px;
}


